<div class="site-location-time">
    <div class="site-time" style="font-size: 20px;"><strong>{{ site_time }}</strong></div>
    <div class="site-day-date">{{ site_day_date_year }}</div>
    <div class="site-city-country">{{ 'Time in'|t }} {{ site_city_country }}</div>
</div>